@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Clarendon';
    src: url('./assets/fonts/Clarendon-Regular.otf') format('opentype');
  }

.font-clarendon{
    font-family: 'Clarendon';
}